<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<head>
	</head>
	
	<th:block layout:fragment="customContent">
		<!-- /* th:insert는 조각(fragment)을 자식 태그로 추가하는 속성*/		-->
		<!-- /* th:replace는 조각(fragment)을 replace 속성을 선언한 해당 태그를 조각의 태그로 교체*/		-->
		<div th:insert="~{fragments/search :: searchFragment}"></div>

		<table>
			<thead>
				<tr>
					<th>회원아이디</th>
					<th>회원비밀번호</th>
					<th>회원등급</th>
					<th>회원이름</th>
					<th>회원주소</th>
					<th>회원이메일</th>
					<th>회원등록일자</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody id="tBody">
				<tr th:unless="${memberList != null}">
					<td colspan="7">등록된 회원 정보가 없습니다.</td>
				</tr>
				<tr th:if="${memberList != null}" th:each="l : ${memberList}">
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberLevelName}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberAddr}"></td>
					<td th:text="${l.memberEmail}"></td>
					<td th:text="${l.memberRegDate}"></td>
					<td>
						<a th:href="@{/member/modifyMember(memberId=${l.memberId})}">수정</a>
					</td>
					<td>
						<a th:href="@{/member/removeMember(memberId=${l.memberId})}">삭제</a>
					</td>
				</tr>
			</tbody>
		</table>
	</th:block>
	
	<th:block layout:fragment="customJsFile">
		<script th:src="@{/js/jquery-3.7.1.js}"></script>
	</th:block>
	
	<th:block layout:fragment="customJs">
		<script th:inline="javascript">
			const msg = [[${msg}]];
			if(msg) alert(msg);

			$('#searchBtn').click(function(){
				//여기를 완성해야함
				const searchKey = $('#searchKey').val();
				const searchValue = $('#searchValue').val();
				const searchObj = {searchKey,searchValue};
				console.log(searchObj);
				const request = $.ajax({
					url : '/member/searchList',
					method : 'POST',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(searchObj),
					dataType : 'json'
				});
				request.done(function (data){
					console.log(data);
				});
				request.fail(function (jqXHR, textStatus, error){
					console.log(error);
				});
			});
		</script>
	</th:block>
</html>