<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.mybatis.member.mapper.MemberMapper">
    <!--  ksmart.mybatis.member.dto.Member  -->
    <!--  ksmart.mybatis.user.dto.Member 이렇게 같은 이름으로 클래스를 만들면 어느클래스인지 찾을 수 없다 -->
    <select id="getMemberList" resultType="Member">
        /* 회원조회 */
        SELECT
            m_id AS memberId,
            m_pw AS memberPw,
            m_name AS memberName,
            m_level AS memberLevel,
            m_email AS memberEmail,
            m_addr AS memberAddr,
            m_reg_date AS memberRegDate
        FROM
            tb_member

    </select>

</mapper>


